<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login_register.css' %}">
    <title>Registro de Usuarios</title>
</head>
<body>
    <div class="contenedor-register">
        <img src="" alt="user-reptresentation">
        <div class="content">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Contraseña">
            <input type="text" placeholder="Contraseña Nuevamente">
            <button>Registrarse</button>
            <p>¿Tenés una cuenta creada? <a href="">iniciá sesión ahora</a></p>
        </div>
    </div>
</body>
</html>
